body {
    background: #efefef;
}

#omikuji {
    text-align: center;
}

.exec-omikuji {
    display: block;
    cursor: pointer;
    margin: 0 auto 1rem;
    width: 8rem; height: 8rem;
    border-radius: 50%;
    background: #1ABC9C;
    opacity: 0.9;
    border: 0.2rem solid #1E7145;
    box-shadow: 0 0.3rem #1E7145;
}

.exec-omikuji:hover {
    opacity: 1.0;
}

.result {
    display: none;
}

.result #fortune {
    height: 10rem;
    width: auto;
}

/* 表示切り替え */
.resolved .result {
    display: block;
}

/* ちなみに以下のコードで一度だけのおみくじにできる */
.resolved .exec-omikuji {
    pointer-events: none;
    background-color: #FF5555;
    border: 0.2rem solid #AA3333;
    box-shadow: 0 0.3rem #AA3333;
}
